slides/01-intro.pdf
slides/02-tradition-ml.pdf
slides/03-nodeemb.pdf
slides/04-GNN1.pdf
slides/05-GNN2.pdf
slides/06-GNN3.pdf
slides/07-theory.pdf
slides/08-message.pdf
slides/09-hetero.pdf
slides/10-kg.pdf
论文/1_GCN (1).pdf
论文/1_GCN.pdf
论文/1_GRAPH ATTENTION NETWORKS (1).pdf
论文/1_GRAPH ATTENTION NETWORKS.pdf
